{
  "env": {
    "jest": true
  },
  "extends": [
    "airbnb-base"
  ],
  "parser": "eslint-plugin-typescript/parser",
  "plugins": [
    "typescript"
  ],
  "rules": {
    "no-unused-vars": ["off"],
    "typescript/no-unused-vars": ["error", { "vars": "all", "args": "after-used", "ignoreRestSiblings": true }]
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}
